form {
    width: 70%;
    height: 70%;

    box-shadow: 0 0 0 0.2rem rgba(255, 200, 200, 0.5);
    padding-left: var(--standard--padding--left-right);
    padding-right: var(--standard--padding--left-right);
    padding-top: calc(2 * var(--standard--padding--top-bottom));
    padding-bottom: calc(2 * var(--standard--padding--top-bottom));

    background-color: white;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

textarea {
    resize: none;
}

.eventFORM {
    width: 100%;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
}
