#userAvatar:hover {
    cursor: pointer;
    background-color: rgba(194, 24, 91, 1);
}

.dividerLI {
    background-color: var(--standard--divider-color);
}

.loginBUTTON {
    color: white;
    background-color: transparent;
}
