@if (user()) {
    <div>
        @if (isPlatformBrowser) {
            <nz-avatar
                nz-dropdown
                nzTrigger="click"
                [nzDropdownMenu]="menu"
                [nzSrc]="avatarSrc()"
                nz-tooltip
                [nzText]="inpButtonName().substring(0, 2)"
                [nzTooltipTitle]="inpButtonName()"
                id="userAvatar"
                [nzPlacement]="menuPosition"
                [nzArrow]="menuPosition"
            />
        }

        <nz-dropdown-menu #menu="nzDropdownMenu">
            <ul nz-menu class="menuUL">
                @for (item of userMenu; track $index) {
                    <li nz-menu-item (click)="navigateToItemPage(item.route.path)">
                        {{ item.title }}
                    </li>
                    <li nz-menu-divider class="dividerLI"></li>
                }
                <li nz-menu-item (click)="logoutUser()">
                    <nz-icon nzType="logout" nzTheme="outline" /> Logout
                </li>
            </ul>
        </nz-dropdown-menu>
    </div>
} @else {
    <div>
        <button
            nz-button
            nzShape="round"
            class="loginBUTTON"
            nzSize="large"
            (click)="navigateToLoginPage()"
        >
            Login
        </button>
    </div>
}
