<div>
    <nz-avatar
        nz-dropdown
        nzTrigger="click"
        [nzDropdownMenu]="menu"
        [nzText]="inpButtonContent().substring(0, 2)"
        nz-tooltip
        [nzTooltipTitle]="inpButtonContent()"
        id="userAvatar"
    />

    <nz-dropdown-menu #menu="nzDropdownMenu">
        <ul nz-menu>
            @for (item of userMenu; track $index) {
                <li nz-menu-item (click)="navigateToItemPage(item.route.path)">
                    {{ item.title }}
                </li>
            }
            <li nz-menu-item>Logout</li>
        </ul>
    </nz-dropdown-menu>
</div>
