<div>
    <nz-avatar
        nz-dropdown
        nzTrigger="click"
        [nzDropdownMenu]="menu"
        [nzText]="inpButtonContent().substring(0, 2)"
        nz-tooltip
        [nzTooltipTitle]="inpButtonContent()"
        id="userAvatar"
        [nzPlacement]="menuPosition"
        [nzArrow]="menuPosition"
    />

    <nz-dropdown-menu #menu="nzDropdownMenu">
        <ul nz-menu class="menuUL">
            @for (item of userMenu; track $index) {
                <li nz-menu-item (click)="navigateToItemPage(item.route.path)">
                    {{ item.title }}
                </li>
                <li nz-menu-divider class="dividerLI"></li>
            }
            <li nz-menu-item (click)="logoutUser()">
                <nz-icon nzType="logout" nzTheme="outline" /> Logout
            </li>
        </ul>
    </nz-dropdown-menu>
</div>
