.detailsContainer {
    width: 100%;
    height: 92%;

    display: flex;
    justify-content: space-between;
    align-items: center;

    .imageContainer {
        width: 25%;

        img {
            width: 24rem;
        }
    }

    .contentContainer {
        width: 75%;
    }
}
