@if (isLoading) {
    <app-comp-loading-screen />

} @else {
    <button nz-button nzSize="large" (click)="navigateToEventsListPage()">
        <nz-icon nzType="arrow-left" nzTheme="outline" /> Zurück zum meinen Medienevents
    </button>

    @if (isError) {
        <div>Es ist ein Fehler aufgetreten.</div>

    } @else {
        @if (mediaEvent) {
            <h1>Medienevent-Details</h1>
            <div class="detailsContainer">
                <div class="imageContainer">
                    <img src="Media_Picture.png" alt="Mediaevent-Bild">
                </div>
                <div class="contentContainer">
                   <app-comp-media-event-display-content [inpMediaEvent]="mediaEvent" />
                </div>
            </div>
            <div class="buttonBarContainer">
                <button nz-button nzType="primary" nzSize="large">
                    <nz-icon nzType="edit" nzTheme="outline" />
                    Bearbeiten
                </button>
                <button nz-button nzSize="large" class="deleteBUTTON">
                    <nz-icon nzType="delete" nzTheme="outline" />
                    Löschen
                </button>
            </div>
        }
    }
}