@if (isLoading) {
    <app-comp-loading-screen />
} @else {
    <button nz-button nzSize="large" (click)="navigateToEventsListPage()">
        <nz-icon nzType="arrow-left" nzTheme="outline" /> Zurück zum meinen Medienevents
    </button>

    @if (isError) {
        <div>Es ist ein Fehler aufgetreten.</div>
    } @else {
        @if (mediaEvent) {
            @if (displayScreen === 'DETAILS_PAGE') {
                <h1>Medienevent-Details</h1>
                <div class="detailsContainer">
                    <div class="imageContainer">
                        <img src="Media_Picture.png" alt="Mediaevent-Bild" />
                    </div>
                    <div class="contentContainer">
                        <app-comp-media-event-display-content [inpMediaEvent]="mediaEvent" />
                    </div>
                </div>
                <div class="buttonBarContainer">
                    <button
                        nz-button
                        nzType="primary"
                        nzSize="large"
                        (click)="setDisplayScreen('EDIT_PAGE')"
                    >
                        <nz-icon nzType="edit" nzTheme="outline" />
                        Bearbeiten
                    </button>
                    <app-comp-delete-dialog
                        inpTitle="Medienevent löschen"
                        [inpDescription]="
                            'Willst du das Medienevent ' +
                            mediaEvent.title +
                            ' wirklich löschen? Dies kann nicht rückgängig gemacht werden!'
                        "
                        (outDelete)="deleteEvent()"
                    />
                </div>
            } @else {
                <h1>Medienevent bearbeiten</h1>
                <app-comp-event-form
                    [inpMediaEvent]="mediaEvent"
                    (outSubmitForm)="submitForm($event)"
                    (outCancelForm)="cancelForm()"
                />
            }
        }
    }
}
