.detailsContainer {
    width: 100%;
    height: 92%;

    display: flex;
    justify-content: space-between;
    align-items: center;

    .imageContainer {
        width: 24rem;
        margin-right: 1rem;

        img {
            width: 24rem;
        }
    }

    .contentContainer {
        width: calc(100% - 24rem);
    }
}
