html,
body {
    margin: 0;
    padding: 0;
}

:root {
    --standard--padding--left-right: 2rem;
    --standard--padding--top-bottom: 1rem;
    --content--height: calc(100vh - 4rem);
    --content--height-without-padding: calc(var(--content--height) - 2rem);
    --content--width-without-padding: calc(100vw - 4rem);

    --tranisition--duration: 0.3s;

    --standard--font--size: 1.1rem;

    --standard--background-color: rgb(255, 56, 105);
    --header--background-color: #3c3a36;
    // color-mix(in hsl, var(--standard--background-color) 90%, white 10%);
    --header--background-color-dark: color-mix(
        in hsl,
        var(--standard--background-color) 90%,
        black 10%
    );
    --header--background-color-light: white;
    --header--height: 4rem;

    --header--button--hover--background-color: color-mix(in hsl, #faf5f0 60%, black 40%);
    --standard--divider-color: rgba(0, 0, 0, 0.1);
    --standard--card--box-shadow: 0 0 0.4rem rgba(0, 0, 0, 0.4);
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

p {
    text-align: justify;
}

p,
span {
    font-size: var(--standard--font--size);
}

.paddingFull {
    padding-left: var(--standard--padding--left-right);
    padding-right: var(--standard--padding--left-right);
    padding-top: var(--standard--padding--top-bottom);
    padding-bottom: var(--standard--padding--top-bottom);
}

.label {
    font-size: var(--standard--font--size);
}

.actionDIV {
    width: 100%;
    height: 8rem;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.menuUL {
    border: 0.1rem solid var(--standard--divider-color);
}

// /* Hintergrundfarbe aller Messages */
// .ant-message-notice {
//     background-color: #f0f5ff; /* hellblau */
//     border-radius: 0.5rem;
//     padding: 1rem 1.5rem;
// }

/* Textfarbe */
.ant-message-notice-content {
    color: var(--header--background-color);
    font-weight: 500;
    background-color: white;
    border: 0.1rem solid var(--standard--divider-color);
}

.gapDIV {
    width: 100%;
    height: 3rem;
}
