@if (!isLoading) {
    <div class="app">
        <nz-layout>
            <nz-header ngSkipHydration>
                <!-- <span>PersSpace</span> -->
                <div class="headerLeftDIV">
                    <img src="logo.svg" alt="PerSpace-Logo" (click)="navigateToLoginPage()" />
                    <button
                        class="headerBUTTON"
                        nz-tooltip
                        nzTooltipTitle="Menü öffnen"
                        nzTooltipPlacement="bottom"
                        nz-dropdown
                        nzTrigger="click"
                        [nzDropdownMenu]="menu"
                    >
                        <nz-icon nzType="plus" nzTheme="outline" />
                    </button>
                    <nz-dropdown-menu #menu="nzDropdownMenu">
                        <ul nz-menu class="menuUL">
                            @for (item of creationMenu; track $index) {
                                <li nz-menu-item (click)="navigateToItemPage(item.route.path)">
                                    {{ item.title }}
                                </li>
                            }
                        </ul>
                    </nz-dropdown-menu>
                </div>

                @if (user()) {
                    <app-comp-user-button [inpButtonContent]="user()?.userName ?? ''" />
                }
            </nz-header>
            <nz-content>
                <div class="content paddingFull">
                    <router-outlet></router-outlet>
                </div>
            </nz-content>
        </nz-layout>
    </div>
} @else {
    <div class="app">
        <img src="logo.svg" alt="PerSpace-Logo" />
        Laden ...
    </div>
}
