.app {
    height: 100vh;
    width: 100vw;
}

.header,
nz-header {
    position: relative;
    height: var(--header--height);
    padding: 0;
    background: var(--header--background-color);
    box-shadow: 0 0.3rem 0.6rem rgba(0, 21, 41, 0.08);
}

.content {
    width: 100%;
    height: var(--content--height);
    overflow-x: hidden;
    overflow-y: auto;
}

nz-header {
    padding: 0;
    width: 100%;
    z-index: 2;
    padding-left: var(--standard--padding--left-right);
    padding-right: var(--standard--padding--left-right);

    font-weight: 600;
    font-size: 1.2rem;
    font-family:
        Avenir,
        Helvetica Neue,
        Arial,
        Helvetica,
        sans-serif;

    box-shadow: 0.1rem 0.2rem 0.1rem rgba(0, 0, 0, 0.3);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nz-header span {
    color: white;
}

nz-header .headerLeftDIV img {
    height: 100%;

    &:hover {
        cursor: pointer;
        color: white;
    }
}

nz-header .headerLeftDIV {
    height: 100%;
}

.headerBUTTON {
    height: var(--header--height);
    width: 4rem;
    background-color: transparent;
    color: var(--header--background-color-light);
    border: 0.1rem solid transparent;
    margin-left: 1rem;
    margin-right: 1rem;

    align-content: center;
    justify-content: center;

    transition-duration: var(--tranisition--duration);

    &:hover {
        cursor: pointer;
        border: 0.1rem solid var(--header--background-color-light);
        background-color: var(--header--button--hover--background-color);
    }
}
