name: Unit Tests

on:
  push:
    branches: [ main ]
    paths:
      - 'Frontend/**'
  pull_request:
    branches: [ main ]
    paths:
      - 'Frontend/**'

jobs:
  test:
    runs-on: ubuntu-latest

    defaults:
      run:
        working-directory: Frontend

    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          node-version: 22
          cache: 'npm'
          cache-dependency-path: Frontend/package-lock.json

      - name: Install Dependencies
        run: npm ci

      - name: Create env.ts from Secrets
        run: |
          echo "export const environment = {" > src/app/environment/env.ts
          echo "export const CLIENT_ID: string = 'DUMMY_API_KEY';" >> src/app/environment/env.ts
          echo "export const BACKEND_ID: string = 'http://localhost';" >> src/app/environment/env.ts
          echo "};" >> src/app/environment/env.ts

      - name: Run Angular Unit Tests
        run: npm run test -- --watch=false --browsers=ChromeHeadless

      - name: Remove env.ts
        run: rm src/app/environment/env.ts
